html {
    cursor: url("/cursor_img/aim_default.png"), auto;
} 

body {
    background-color: green; 
}

.city {
    background-color: salmon;
    overflow: hidden;
}


.grass {
    position: absolute;
}

.player {
    position: absolute;
    transition: 0.1s linear;
    outline: none;
}

.player_civil {
    position: absolute;
    transition: 0.1s linear;
    outline: none;
}

body:focus {
    scale: (2);
}

.fields {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}

.field {
    height: 150px;
    width: 400px;
    border: 2px solid black;
    background-color: yellow;
}

.skeleton {
    height: 150px;
    width: 400px;
    border: 2px solid black;
    background:
    repeating-linear-gradient(
        45deg,
        black 0,
        black 1px,
        transparent 4px,
        transparent 10px
    );
    background-color: pink;
}

.tree1 {
    height: 290px
}

.tree3 {
    height: 90px;
}

.tree4 {
    height: 290px;
}

.tree5 {
    height: 150px;
}

.bush1 {
    height: 100px;
}

@font-face {
  font-family: textFont;
  src: url("/fonts/ByteBounce.ttf");
}

.dialog_window {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1.8em;
    line-height: 35px;
    letter-spacing: 5px; 
    font-family: textFont;
    padding-left: 12px; 
}

loc_trigger {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.tv {
    position: absolute;
    top: 150px;
    left: 645px;
    width: 385px; 
    height: 110px;
    border-radius: 2%;
    object-fit: cover;
    rotate: 0.13deg;
}
