body {
    background-color: green; 
    cursor: url("/cursor_img/aim_default.png"), auto;
}

.schwamm {
    cursor: url("/cursor_img/schwamm1.png"), auto;
}

.city {
    background-color: green;
    overflow: hidden;
}

.menu {
    overflow: hidden;
}

.grass {
    position: absolute;
    z-index: -2;
}

.train {
    z-index: -1;
}

.player {
    position: absolute;
    transition: 0.1s linear;
    outline: none;
}

.player_civil {
    position: absolute;
    transition: 0.1s linear;
    outline: none;
}

body:focus {
    scale: (2);
}

.fields {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}

.field {
    height: 150px;
    width: 400px;
    border: 2px solid black;
    background-color: yellow;
}

.skeleton {
    height: 150px;
    width: 400px;
    border: 2px solid black;
    background:
    repeating-linear-gradient(
        45deg,
        black 0,
        black 1px,
        transparent 4px,
        transparent 10px
    );
    background-color: pink;
}

.tree1 {
    height: 290px
}

.tree3 {
    height: 90px;
}

.tree4 {
    height: 290px;
}

.tree5 {
    height: 150px;
}

.bush1 {
    height: 100px;
}

@font-face {
  font-family: textFont;
  src: url("/fonts/ByteBounce.ttf");
}

.dialog_window {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1.8em;
    line-height: 35px;
    letter-spacing: 5px; 
    font-family: textFont;
    padding-left: 12px; 
    z-index: 3;
}

.choose_dialog_window {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1.8em;
    line-height: 35px;
    letter-spacing: 5px; 
    font-family: textFont;
    padding-left: 12px; 
}

.dialog_icon {
    z-index: 3;
}


loc_trigger {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.aim_score {
    position: absolute;
    top: -80px;
    left: 1430px;
    font-size: 6em;
    color: rgb(157, 43, 43);
    font-family: textFont;
}

.tv {
    position: absolute;
    top: 149px;
    left: 645px;
    width: 385px; 
    height: 110px;
    border-radius: 3%;
    object-fit: cover;
    rotate: 0.2deg;
}

.snow {
    position: absolute;
    top: 0;
    left: -770px;
    width: 3080px;
    height: 800px;
    border: 3px solid black;
}

.menu_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.menu_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 220px;
    margin: 5px;
    padding: 5px;
    gap: 50px;
}

#menu_button {
    color: rgb(172, 202, 41);
    font-size: 4.2em;
    text-align: center;
    height: 80px;
    width: 400px;
    background-color: #885806;
    border: 3px solid black;
    font-family: textFont;
}

#menu_button:hover {
    border: 5px solid rgb(116, 0, 0);
}

#menu_button:active {
    background-color: rgb(125, 15, 15);
}
